body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5fa;
    width: auto;
    height: auto;
}

header {
    background-color: #000000;
    padding: 0;
    text-align: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    color: #000000;
}
p{
    color: #ffffff;
}
h3{
    color: #ffffff;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logu {
    width: 150px;
    height: 150px;
}
.btn {
    padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  }
.btn:hover {
    letter-spacing: 3px;
  background-color: hsl(0, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 34) 0px 7px 29px 0px;
}
.btn:active {letter-spacing: 3px;
    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 24, 34) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.filters {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.filters h2 {
    margin-top: 0;
}

.filters select, .filters input {
    width: 200px;
    padding: 10px;
    margin: 20px;
}

.filters input[type="text"] {
    
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
    
}

.filters input[type="text"]:focus{
    border-color: #DC2626;
    outline: none;
    box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    background: #393939;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s, border 0.3s;
}

.product-item img {
    width: 350px;
    height: 300px;
}

.product-item .info {
    padding: 10px;
}

.product-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-item p {
    color: #ffffff;
}

.product-item .price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.product-item:hover {
    background-color: hsl(0, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 34) 0px 7px 29px 0px;
    transform: scale(1.1);
    border: 2px solid rgb(255, 255, 255);
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container p {
    display: inline;
    text-align: center;
    margin: 0 10px;
}

.container p {
    color: #fff;
    text-decoration: none;
}

.container p a:hover {
    text-decoration: underline;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    width: auto;
    height: 300px;
}
.b {
    display: inline;
    text-align:center;
}
.a { 
    width: 150px;
    height: 100px;
    display: block;
    text-align: left;
}
